
# nixago-auto-created: mdbook-build-folder
docs/build/**

# nixago: ignore-linked-files
lefthook.yml
.editorconfig
.conform.yaml
adrgen.config.yml
treefmt.toml

# nix build default output
result

# nix repl `:bl`
repl-result-out
